// Created by Jeff. June-August, 2015.
// Format: Box, Border, Colors, Text, Other, Mixins (Recursive)

@import "variables-skin";
@import "variables-structure";
@import "mixins";

.top-nav {
	position: relative;

	z-index: 1000000;
	height: 50px;
	width: 100%;

	border-bottom: 1px solid #FFFFFF;
	color: #CCCCCC;

	background-color: #000000;
	padding: 5px;
	.border-box();
}

.table-of-contents {
	background-color: #000000;
	color: #EEEEEE;

	border: 1px solid #FFFFFF;
	height: 300px;
	padding: 5px;
}

.overview-feed {
	background-color: #000000;
	color: #EEEEEE;

	border: 1px solid #FFFFFF;
	height: 300px;
	padding: 5px;
}