// Created by Jeff. 
// Format: Box, Border, Colors, Text, Other, Mixins (Recursive)

@import "variables-skin";
@import "variables-structure";
@import "mixins";

.nav-text {
	color: #DDDDDD;
	line-height:4.5rem;
	padding-right:1rem;
}

span.nav-text {
	font-size:2rem;
}
.nav-text a{
	color:white;
	text-decoration:none;
}
a.nav-text{
	float:right;
}

.text-center {
	text-align: center;
}